# Ignore data files
projects/Movie-Recommender-System/similarity.pkl
08-Practical-Deep-Learning-With-Pytorch/code/fmnist_full.csv

# Ignore virtual environments
venv/

# Ignore editor settings
.vscode/
.idea/

# Ignore system files
.DS_Store

# Ignore Jupyter and Python cache
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.coverage

./data
10-Projects-Based-ML-DL/01-Image-Classification(guess_the_footballer_by_eyes)/eye_dataset
10-Projects-Based-ML-DL/01-Image-Classification(guess_the_footballer_by_eyes)/raw_images
yolov5s.pt
10-Projects-Based-ML-DL/02-Natural-Language-Processing/data/movie-corpus/conversations.json
10-Projects-Based-ML-DL/02-Natural-Language-Processing/data/movie-corpus/corpus.json
10-Projects-Based-ML-DL/02-Natural-Language-Processing/data/movie-corpus/speakers.json
10-Projects-Based-ML-DL/02-Natural-Language-Processing/data/movie-corpus/utterances.jsonl
10-Projects-Based-ML-DL/02-Natural-Language-Processing/data/movie-corpus/index.json
11-Foundations-Of-LLMS/GPT-From-Scratch/model_5000.pth

10-Projects-Based-ML-DL/03-Image-Captioning/data/*
10-Projects-Based-ML-DL/03-Image-Captioning/vocabulary.pkl
10-Projects-Based-ML-DL/03-Image-Captioning/valid_image_features.pkl
10-Projects-Based-ML-DL/03-Image-Captioning/train_image_features.pkl
10-Projects-Based-ML-DL/03-Image-Captioning/best_decoder.pth
10-Projects-Based-ML-DL/03-Image-Captioning/model02.pth
