# Ignore data files
projects/Movie-Recommender-System/similarity.pkl
08-Practical-Deep-Learning-With-Pytorch/code/fmnist_full.csv

# Ignore virtual environments
venv/

# Ignore editor settings
.vscode/
.idea/

# Ignore system files
.DS_Store

# Ignore Jupyter and Python cache
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.coverage

./data
10-Projects-Based-ML-DL/01-Image-Classification(guess_the_footballer_by_eyes)/eye_dataset
10-Projects-Based-ML-DL/01-Image-Classification(guess_the_footballer_by_eyes)/raw_images
yolov5s.pt
